@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

body{
    background-image: url('../img/fundo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

header, footer{
    width: 100%;
    height: 25vh;
}

.barra{
    background-color: red;
    width: 18px;
    height: 25vh;
    margin: 0 0 0 8vh;
}

section{
    width: 100%;
    background-color: #ffffffbd;
    height: 50vh;

}
footer{
    display: flex;
    justify-content: space-between;
}

h1{
    padding: 5vh 0 2vh;
    text-align: center;
    font-size: 5vh;
}

p{
    text-align: center;
    padding: 2vh;
    font-size: 3vh;
}
ul{
    text-align: center;
    padding: 2vh;
}

li{
    font-size: 2.5vh;
}


.logo{
    height: 20vh;
    width: 28vh;
    margin: 0 18px;
}

@media screen and (max-width: 1024px) {

    h1{
        padding: 3vh 2vh 1vh;
        text-align: center;
        font-size: 3vh;
    }
    
    p{
        text-align: center;
        padding: 1.5vh;
        font-size: 2.5vh;
    }
    ul{
        text-align: center;
        padding: 2vh;
    }
    
    li{
        font-size: 2vh;
    }

}